.header-section{
    background-color: #F0FFF0;
    width:100%;
    height:650px;
}
.site-logo{
    height:50px;
}
.main-img{
    width:100%;
}
.sign-in-button{
    background-color:#21B573;
    padding:12px 28px;
    border-radius:33px;
    color:#fff;
    border:none;
}
h6{
    color:red;
}
span{
    color:#21B573;
}
.section-gap{
    padding-top:100px;
}
.card-img-top{
    width:30%;
    height:100px;
    margin:0 auto;
    padding-top:30px;
}
.card-body{
    margin-bottom:40px;
    margin-top:15px;
}
.card{
    background-color: #F0FFF0;
    border:none;
    align-items:center;
}
.card:hover{
    box-shadow:5px 5px 10px lightgray;
    background-color:white;
}
.online-heading{
    padding-bottom:60px;
    text-align:center;
}
.online-img{
    width:90%;
    height:250px;
}
.card-deck{
    background-color:#E5E5E5;
}
.card-deck .card{
    background-color:#fff;
    border:none;
}

.testimonial-img{
   width:100%;
   
}
.fourth-section{
    width:100%;
    margin-bottom:100px;
}
.fourth-section-align{
    padding-left:30%;
}
.last-section{
    width:100%;
    height:350px;
    background-color:#282531;
    color:white;
}
.copyright{

    color:lightgray;
    background-color:#282531;
    padding-top:20px;
    padding-bottom:0px;
}
.footer-text p{
    text-align:center;
    padding-top:40px;
}
